:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: linear-gradient(to left, #8942a8, #ba382f);
  font-family: Baloo;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

